body{
    background-color: #D84315;
}
h2{
    text-align: center;
    font-family: 'Cabin', sans-serif;
}
.container{
    padding-left: 30px;
    margin: 0;
}
label{
    font-family: 'Cabin', sans-serif;
    font-size: 20px;
}
ul{
    padding: 20px 0 0 0;
}
ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #4A148C;
    font-size: 18px;
    transition: 1s;
    list-style: none;
    color: white;
    font-family: 'Indie Flower', cursive;
    text-shadow: 1px 1px #000;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
ul li.checked {
    background: #00E676;
    color: #fff;
}
ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #000;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 20px;
    width: 10px;
}
.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 16px 16px;
    color: #f00;
}
.close:hover {
    background-color: #B71C1C;
    color: #000;
}
